extends layout

block content
  h3  Mailbox Status
  br
  br
  if (user.haveMail == true)
   h4 You Have Mail
  else
   h4 No Mail    
  br 
  if (user.doorOpen == true)
    h4 Door Open
  else
    h4 Door Closed
  br  